page-last-known-well {

    .div-center > *{
        height:100%;
        display: block;
        vertical-align: middle;
        justify-content: center;
    }
    .vertical-align-content > *
{
    
    height: 100%;
    width: 100%;
    display: block;
    align-items: center;
    text-align: center;
  
} 
}

   