<!-- Generated template for the ComponentsTimerComponent component -->
<div id="Timer" [style.background-color]="Data.colour" no-padding style="vertical-align: middle;height: auto;">
  <ion-grid style="vertical-align: middle;">
    <ion-row>
    <ion-col col2 >
     <p style="font-size: large;">Time passed:<b> {{Data.HoursSince |number:'2.0'}}:{{Data.MinutesSince |number:'2.0'}}:{{Data.SecondsSince |number:'2.0'}}</b></p>
  </ion-col>
    <ion-col col2 align-self-center align-self-stretch>
      <span style="vertical-align: middle;" [innerHTML]="Data.TreatmentInfo"></span>
    </ion-col>
  </ion-row>
  </ion-grid>
</div>
