components-timer {
    
div{
    background-color:"Data.colour";
    border: solid black 1px;
    vertical-align: middle;
    word-break: break-word;
}
ion-col{
    border: solid white 1px;
}

}
